body {
  padding-top: 50px;
}

.ActiveInventoryColumn, .TodayColumn {
  /* height: 56rem; */
  height: 100%;

}

.Overview {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
